*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
$black:2px solid black;
$brown:.4px solid brown;

@mixin popup {
    background-color: #100720;
    position: absolute;
    margin: auto;
}
 
@mixin iconsNormal {
    font-size: 26px; 
    padding:5px
}
@mixin iconsSmall {
    font-size: 20px;
    padding:5px
}
@mixin smallImg {
    // border: $black;
    width:3.4em;
    height: 3.4em;
    border-radius: 50%;
}
@mixin bigHeader {
    font-weight: bold;
    font-size: 18px;
    font-family: verdana;
    color:brown;
}
@mixin midHeader {
    font-weight: bold;
    font-size: 14px;
    font-family: verdana;
    color:brown;
}
@mixin smallHeader {
    font-weight: bold;
    font-size: 11px;
    font-family: verdana;
    color:brown;
}
@mixin container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
@mixin span1 {
    font-size: 11px;
    font-weight: 100;
    font-family: verdana;
    padding:5px 3px 4px 5px;
    font-weight: 100;
    font-family: verdana;
}
@mixin spanNormal {
    font-size: 14px;
    font-weight: 500;
    font-family: verdana;
    padding:5px 3px 4px 5px;
    font-weight: 100;
    font-family: verdana;
}
@mixin button{
    padding:7px 15px 7px 15px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: brown;
    font-weight: bold;
    font-size: 16px;
    font-family: verdana;
    border:none
};
@mixin flex-column {
    display: flex;
    flex-direction: column;
    // border:$black
};
@mixin flex-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
};


.popupSection{ 
    position: absolute;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.678);
    z-index: 3;
    // border:2px solid black
}
.swapPopupSettings{
    border:1px solid rgb(255, 255, 255);
    margin-bottom: 5px;
    border-radius: 20px;
    position: absolute;
    z-index: 3;
    // top:0%;
    // left: 0%;
    // right:0%;
    // bottom:10%;
    margin: auto;
    background-color: #100720;
    display: none;
    .first {@include spanNormal();
     @include flex-row();
     border-bottom:.1px solid black;
     margin:2px;
     margin-bottom: 1em;
     text-shadow:0 0 1px #FFC23C;
      color:white;
       span{
        font-size: 16px;
        font-weight: bold;
        padding:13px
       }
       i{
        font-size: 23px;
        padding:7px;
        font-weight: bold;
        border-radius: 20%;
    font-weight: 100;
    //   background-color: rgba(0, 0, 0, 0.295); 
    cursor: pointer;
    transition: .4s ease-in-out;
       }
       i:hover{
        background-color: rgba(0, 0, 0, 0.295); 
       }
    }
    .second{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:100%;
        text-shadow:0 0 1px rgb(255, 255, 255)C;
      color:white;
        .innerSecond{
            width:90%;
            // border:$black
        }
        span{
            @include spanNormal();
            font-size: 13px;
            font-weight: bold;
        }
        i{
            padding:1px;
            font-weight: bold
           }
        .val{
           .percentages{
             @include flex-row();
             @include spanNormal();
            //  border:$black;
             width:70%;
             margin: 5px;
             span{
                border:.1px solid black;
                padding:10px;
                border-radius: 10px;
                font-size: 15px;
                font-weight: bold;
                margin: 2px;
                background-color: rgba(0, 0, 0, 0.178);
             }
           }
        }
        .inputSec{
            // input::placeholder{color: ;}
            input{
                height:3.4em;
                width:80%;
                font-size: 17px;
                font-family: verdana;
                background-color: rgb(141, 5, 5);
                border-radius: 20px;
                border:none;
                color:white;
                margin-left: 10px;
                // border:$brown
            }
            i{@include spanNormal();
                font-size: 18px;
            }
        }
    }
    .notice1{
        @include spanNormal();
        color:red;
        font-weight: 500;
    }
    .transDeadline{
        margin-top: 1.2em;
        margin-bottom: 15px;
        span{
            @include spanNormal();
            font-size: 13px;
            font-weight: bold;
        }
        i{
            padding:1px;
            font-weight: bold
        }
        input{
            height:3em;
            width:30%;
            font-size: 17px;
            font-family: verdana;
            background-color: rgb(141, 5, 5);
            border-radius:50px;
            border:none;
            color:white;
            margin-left: 10px;
            margin:4px; 
            // border:$brown
        }
    }
}

.swapRecentPopup{
    border:1px solid rgb(255, 255, 255);
    margin-bottom: 5px;
    border-radius: 20px;
    margin:2px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width:85%;
    align-items: center;
    position: absolute;
    margin: auto;
    display: none;
    background-color: #100720;
    z-index: 3;
    .first {@include spanNormal();
        @include flex-row();
        border-bottom:.1px solid black;
        margin:2px;
        margin-bottom: 1em;
        width:100%;
        text-shadow:0 0 1px #ffffff;
      color:white;
          span{
           font-size: 16px;
           font-weight: bold;
           padding:13px;
           text-shadow:0 0 1px #ffffff;
      color:white;
          }
          i{
           font-size: 23px;
           padding:7px;
           border-radius: 20%;
           font-weight: bold;
        //    background-color: rgba(0, 0, 0, 0.295);
           cursor: pointer;
           transition: .4s ease-in-out;
          }
          i:hover{
            background-color: rgba(0, 0, 0, 0.295);
          }
        }
        .detailss{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin:7px;
            width:100%;
            text-shadow:0 0 1px #ffffff;
      color:white;
            .err{
            @include spanNormal();
            font-size: 13px;
            font-weight: bold;
            padding:7px;
            width:100%;
            text-align:  center;
            
            }
            button{
                @include button();
                padding:5px
                // width:10em
            }
        }
}

@media (min-width:864px) {
    .swapRecentPopup{
        width:60%
    }
}


.swapChooseTokenPopup{
    border:1px solid rgb(255, 255, 255);
    margin-bottom: 5px;
    border-radius: 20px;
    @include flex-column();
    align-items: center;
    justify-content: center;
    position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    background-color: #100720;
    display: none;
    // bottom:0%;
    margin: auto;
    color:white;
    // height:em;
    z-index: 3;
    .inner{
     width:100%;
    //  border: $black;
     @include flex-column();
    }
    .first {
        @include flex-row();
        color: whitesmoke;
        // border-bottom:.1px solid black;
        span{
            @include flex-row();
            justify-content: space-around;
            @include spanNormal();
               border-radius: 10px;
               font-size: 15px;
               font-weight: bold;
               margin:4px;
        }
        i{
            font-size: 19px;
            padding:7px;
            font-weight: bold;
            border-radius: 20%;
        font-weight: 100;
        // margin:.3px;
        //   background-color: rgba(0, 0, 0, 0.295); 
        cursor: pointer;
        transition: .4s ease-in-out;
           }
           i:hover{
            background-color: rgba(0, 0, 0, 0.295); 
           }
        }
        input{
            height:3em;
            width:80%;
            font-size: 14px;
            font-family: verdana;
            // background-color: rgb(141, 5, 5);
            border-radius:10px;
            border:none;
            // color:white;
            margin:4px;
            margin-left: 10px;
            // border:$brown;
            background-color: #1C0C5B;
            border: none;
           
        }
        .commonBases{
            // width:90%;
            // border: $black;
            .first {
                @include flex-row();
                // border-bottom:.1px solid black;
                span{
                    @include flex-row();
                    justify-content: space-around;
                    @include spanNormal();
                       border-radius: 10px;
                       font-size: 15px;
                       font-weight: bold;
                       margin:4px;
                       i{
                        font-size: 14px;
                        padding:6px;
                        font-weight: bold
                       }
                }
                i{
                    font-size: 21px;
                    padding:10px;
                    font-weight: bold
                 }
                }
             .common{
                // border: $black;
                display: flex;
                width:20em;
                flex-wrap: wrap;
                justify-content: space-around;
                margin:0 0 0 10px;
                margin-bottom: 2px;
                .indiv{
                    // border: $brown;
                    width:8em;;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    margin:6px;
                    border-radius: 10px;
                    background-color: rgba(0, 0, 255, 0.541);
                    padding:3px;
                    cursor: pointer;
                    width:9em;
                    img{
                        width:2.1em;
                        height:2.1em;
                        // border:$brown
                    }
                    span{
                        padding:5px;
                        @include spanNormal()
                    }
                }
                
             }
        }
        .tokenName{
            .first {
                @include flex-row();
                // border: $black;
                span{
                    @include flex-row();
                    justify-content: space-around;
                    @include spanNormal();
                       border-radius: 10px;
                       font-size: 15px;
                       font-weight: bold;
                       margin:4px;
                       color:white;
                }
                i{
                    font-size: 16px;
                    padding:10px;
                    font-weight: bold
                 }
                }
                .allTokens{
                   display: flex;
                   flex-direction: column;
                //    border:$black;
                   margin:5px;
                   margin-top: 0;
                   height:13em;
                   overflow-y: auto;
                   overflow-x: hidden;
                   .indiv{
                    // border: $brown;
                    width:8em;;
                    display: flex;
                    align-items: center;
                    // justify-content: flex-start;
                    margin:3px;
                    border-radius: 10px;
                    background-color: rgba(0, 0, 255, 0.205);
                    padding:6px;
                    cursor: pointer;
                    width:90%;
                    img{
                        width:2.1em;
                        height:2.1em;
                        // border:$brown
                    }
                    span{
                        padding:5px;
                        margin-left: 15px;
                        @include spanNormal();
                        color:white;
                        .small{
                            font-size:10px;
                            margin-left: 4px;
                            font-weight: bold;
                            color:rgb(70, 69, 69)
                        }
                    }
                }
                }
        }
}

@media (max-width:356px) {
    .swapChooseTokenPopup{
        .commonBases{
            .common{
                width:17em;
                .indiv{
                    width:6em;
                    margin:2px;
                    img{
                        width:1.7em;
                        height:1.7em;
                        // border:$brown
                    }
                }
            }
        }
    }
}

.connectWallet{
    @include flex-column();
    border:1px solid rgb(255, 254, 254);
    margin-bottom: 5px;
    border-radius: 20px;
    padding:2px;
    padding-bottom: 20px;
    position: absolute;
    margin:auto;
  background-color: #100720;
    display: none;
    z-index: 3;
    .first {
        @include flex-row();
        border-bottom:.1px solid black;
        margin-bottom: 15px;
        font-family: verdana;
        text-shadow:0 0 1px #FFC23C;
          color:white;
        span{
            @include flex-row();
            justify-content: space-around;
            @include spanNormal();
               border-radius: 10px;
               font-size: 15px;
               font-weight: bold;
               margin:4px;
               padding:14px;
        }
        i{
            font-size: 23px;
            padding:7px;
            font-weight: bold;
            border-radius: 20%;
        font-weight: 100;
        // margin:.3px;
        //   background-color: rgba(0, 0, 0, 0.295); 
        cursor: pointer;
        transition: .4s ease-in-out;
           }
           i:hover{
            background-color: rgba(0, 0, 0, 0.295); 
           }
        }
        .indivWallets{
            display: flex;
            // border: $black;
            justify-content: space-between;
            flex-direction: row;
            width:25em;
            flex-wrap: wrap;
            a{
                font-family: verdana;
                text-shadow:0 0 1px #FFC23C;
                  color:white;
            }
        .indiv{
            // display: block;;
            border: $brown;
            // width:100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin:3px;
            border-radius: 10px;
            background-color: #1C0C5B;
            padding:6px;
            cursor: pointer;
            width:11em;
            border: none;
            img{
                width:2.5em;
                height:2.5em;
                border-radius: 50%;
                // border:$brown
            }
            span{
                padding:5px;
                margin-left: 15px;
                @include spanNormal();
                .small{
                    font-size:10px;
                    margin-left: 4px;
                    font-weight: bold;
                    color:rgb(70, 69, 69)
                }
            }
        }
    }
        
}
@media (max-width:375px) {
   .connectWallet 
   .indivWallets {
        width:19em;
        // border:2px solid rgb(245, 11, 11);
        // align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        .indiv{
            width:80%;
            margin-left: 30px;
        }
    }
}

// liquiditySection
.liquidityPopupSettings{
    border:1px solid black;
    margin-bottom: 5px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: aliceblue;
    display: none;
    z-index: 3;
    .first {@include spanNormal();
     @include flex-row();
     border-bottom:.1px solid black;
     margin:2px;
     margin-bottom: 1em;
       span{
        font-size: 16px;
        font-weight: bold;
        padding:13px
       }
       i{
        font-size: 23px;
        padding:13px;
        font-weight: bold
       }
    }
    .second{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:100%;
        .innerSecond{
            width:90%;
            // border:$black
        }
        span{
            @include spanNormal();
            font-size: 13px;
            font-weight: bold;
        }
        i{
            padding:1px;
            font-weight: bold
           }
        .val{
           .percentages{
             @include flex-row();
             @include spanNormal();
            //  border:$black;
             width:70%;
             margin: 5px;
             span{
                border:$black;
                padding:10px;
                border-radius: 10px;
                font-size: 15px;
                font-weight: bold;
             }
           }
        }
        .inputSec{
            // input::placeholder{color: ;}
            input{
                height:3.4em;
                width:80%;
                font-size: 17px;
                font-family: verdana;
                background-color: rgb(141, 5, 5);
                border-radius: 20px;
                border:none;
                color:white;
                margin-left: 10px;
                // border:$brown
            }
            i{@include spanNormal();
                font-size: 18px;
            }
        }
    }
    .notice1{
        @include spanNormal();
        color:red;
        font-weight: bold;
    }
    .transDeadline{
        margin-top: 1.2em;
        margin-bottom: 15px;
        span{
            @include spanNormal();
            font-size: 13px;
            font-weight: bold;
        }
        i{
            padding:1px;
            font-weight: bold
        }
        input{
            height:3em;
            width:30%;
            font-size: 17px;
            font-family: verdana;
            background-color: rgb(141, 5, 5);
            border-radius:50px;
            border:none;
            color:white;
            margin-left: 10px;
            margin:4px;
            border:$brown
        }
    }
}

.liquidityRecentPopup{
    border:1px solid black;
    margin-bottom: 5px;
    border-radius: 20px;
    margin:2px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width:45%;
    position: absolute;
    top: 50%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);
  background-color: aliceblue;
    display: none;
    .first {@include spanNormal();
        @include flex-row();
        border-bottom:.1px solid black;
        margin:2px;
        margin-bottom: 1em;
          span{
           font-size: 16px;
           font-weight: bold;
           padding:13px
          }
          i{
           font-size: 23px;
           padding:13px;
           font-weight: bold
          }
        }
        .detailss{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin:7px;
            .err{
            @include spanNormal();
            font-size: 13px;
            font-weight: bold;
            padding:7px;
            width:80%
            }
            button{
                @include button();
                padding:5px
                // width:10em
            }
        }
}

// more liquidity stylings

.mainSec{
    .one{
        .addLiq{
            @include button();
            margin-top:10px;
            padding:15px;
            border-radius: 10px;
        }
    }
    .twoo{
        // border:$black;
        .first {@include span1();
            @include flex-row();
            // border:$black;
            margin:2px;
            margin-bottom: 2px;
              span{
               font-size: 13px;
               font-weight: bold;
               padding:13px
              }
              i{
               font-size: 16px;
               padding:13px;
               font-weight: bold
              }
           }
           .secondd{
            // border:$black;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height:13em;
            margin: 1px;
            background-color: rgb(233, 233, 233);
            span{
                // border:$brown;
                width:17em;
                text-align: center;
                @include spanNormal();
                font-weight: bold;
                opacity: .3;
            }
           }
    }
    .moreFooter{
        // width:70%;
        margin:1px;
        // border: $black;
        margin-left: 8px;
        span{
            @include spanNormal();
            padding:8px;
            text-align: start;
            display: block;
            font-size: 13px;
            text-shadow:0 0 1px #FFC23C;
             color:white;
            a{
                color:#FFC23C
            }
        }
    }
}

.addLiquidity .two{
    width: 99%;
    display: flex;
    align-items: center;
    flex-direction: column;
    // border:$black;
    width:26em
}
.addLiquidity{
    /* border:.4px solid black; */
    //  width:85%;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
     margin:16px;
     border-radius: 30px;
    //  box-shadow: 0 0 10px brown;
     display: none;
     overflow-x:hidden;
     box-shadow: 0 3px 1px #916BBF;
     border: .2px solid #916BBF;
     background-color: #1C0C5B;
     .one{
         /* border:2px solid black; */
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width:95%;
    margin-top:10px;
    padding:10px;
    border-bottom:.4px solid rgba(54, 54, 54, 0.295);
    margin:20px;
    span{
        font-size: 18px;
        // font-weight: bold;
        padding:2px;
        i{
            font-size: 16px;
            padding:2px;
            // font-weight: bold
           }
       }
       i{
        font-size: 22px;
        padding:2px;
        // font-weight: bold
       }
     }
     .plus{
        @include spanNormal();
        font-size: 22px;
    }
     .fromInput{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-between;
        /* border:.5px solid black; */
        padding:10px;
        margin:5px;
        width: 100%;;
        // background-color: rgba(165, 42, 42, 0.582);
        border-radius: 10px;
       .more{
            display:  flex;
            align-items: center;
            justify-content: space-between;
            /* border:.6px solid green; */
            padding:3px;
            width: 100%;
            input{
                height:3.4em;
                width:70%;
                font-size: 17px;
                font-family: verdana;
                background-color: rgba(0, 0, 0, 0.192);
                border-radius: 5px;
                border:none
            }
            div{
              display: flex;
              align-items: center;
              justify-content: space-between;
            }
            div img{
                /* border:.2px solid black; */
                width:2.2em;
                height:2.2em;
                border-radius: 50%;;
                margin:10px
            }
            div i{
                font-size: 23px;
                padding:5px
            }
        }
     }
     .fromInput span{
        font-size: 12px;
        font-weight: 100;
        font-family: verdana;
        padding:5px 3px 4px 5px;
        font-weight: 100;
        font-family: verdana;
    }
    .pricesPoolShare{
        display:  flex;
        flex-direction: column;
        margin:10px;
        width:90%;
        span{
            @include spanNormal();
            font-size: 10px;
            font-weight: bold;
            padding:5px
        }
        .vals{
            border:.3px solid black;
            display: flex;
            justify-content: space-between;
            width:100%;
            padding:3px;
            border-radius: 10px;
            .indivvv{
                span{
                    display: block;
                    font-weight: 100;
                    font-size: 12px;
                    padding:5px
                }
            }
        }
    }
    button{
        @include button();
        margin:10px;
        width:90%;
        padding:15px;
        border-radius: 10px;
    } 
}

@media (max-width:460px) {
        .addLiquidity .two{
           width:19em
        }
}
@media (max-width:314px) {
        .addLiquidity .two{
           width:16em
        }
}

.liquidity{
    // border: .5px solid yellow;
    width:100%;
    .mainSec{
    //    border: .5px solid yellow;
       width:100%;
       margin: 0;
    }
}

.liquidity .mainSec .twoo{
    .first{
        span{
            text-shadow:0 0 1px #FFC23C;
            color:white;
        }
        .moreFooter{
            span{
                text-shadow:0 0 13px #FFC23C;
                color:white;
            }
        }
    }
}

.addLiquidity{
    .one{
        i{
            text-shadow:0 0 1px #FFC23C;
            color:white;
        }
        span{
            text-shadow:0 0 1px #FFC23C;
            color:white;
        }
    }
    .two{
        .plus{
            text-shadow:0 0 13px #FFC23C;
            color:white;
        }
        .fromInput{
            span{
                text-shadow:0 0 1px #FFC23C;
                color:white;
                font-family: verdana;
                font-weight: bold;
            }
            .valuee span{
                text-shadow:0 0 13px #FFC23C;
                color:white;
            }
        }
    }
    button{
        background-color: rgb(126, 105, 248);
    border:none;
    color:white;
    }
}
.pricesPoolShare{
    span{
       color: #fbff00;
    }
    .vals{
        .indivvv{
            span{
                text-shadow:0 0 1px #FFC23C;
                color:white;
                background-color: rgba(0, 0, 0, 0.253);
                margin: 2px;
                border-radius: 5px;
            }
        }
    }
}